/* Error: expected "{".
 *     ,
 * 329 |     @include icon($name);
 *     |                         ^
 *     '
 *   scss/a.scss 329:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 329 \2502      @include icon($name);\a     \2502                          ^\a     \2575 \a   scss/a.scss 329:25  root stylesheet';
}
