// @use "sass:color";

.page {
    $w : 300px;
    width:$w;
    $red : #ff1234;
    
    @at-root .b{
        color:$red;
        width: calc($w / 2);
    }
}
  
%title-s {
    font-size:12px;
    font-weight:600;
    color:#000;
}


%title-m {
    font-size:20px;
    font-weight:900;
    color:#333;
}

%title-b {
    font-size:50px;
    font-weight:900;
    color:blue;
}


.page-header {
    height:20px;
}

h1 {
    @extend %title-s;
    
}

caption {
    @extend %title-m;
}

.header strong {
    @extend %title-s;
}

.list {
    color:red;
    font-size:14px;

    li {
        margin:10px 0;
        &:hover {
            background-color:darken(olive, 20%);
        }
    }
}

%shadow-box {
    background-color:#fff;
    box-shadow:0 0 10px rgba(black, 0.2);
    border-radius:20px;
    padding:10px;
    font-size:20px;
    text-align:center;
}


@mixin shadow-box($color) {
    @extend %shadow-box;
    background-color:$color;
}
@mixin shadow-box2($color, $opacity) {
    @extend %shadow-box;
    box-shadow:0 0 10px rgba($color, $opacity);
}

.box {
    @extend %shadow-box;
}

.box3 {
    @include shadow-box2(red, 0.5);
}

.box2 {
    @include shadow-box(red);
}

.menu-list {
    background-color:rgb(225, 88, 111);
    @extend .list;
}


@media all and (max-width:300px) {
   /*
    h1 {
        @extend %title-m;
    }
    */

    %title-s {
        font-size:50px;
    }
}


$colors : #ff0000, #00ff00, #0000ff;
$sizes : 20px, 50px, 100px;
$text-colors : (
    primary : #d7116d,
    secondary : #33ff00,
    third : #1e1ea4
);

.a {
    background-color:nth($colors, 3)
}

.b {
    background-color:map-get($text-colors, primary);
}

@each $size in $sizes {
    .icon-#{$size} {
        width:$size;
        height:$size;
        font-size:$size;
    }
}


@each $text-color, $item in $text-colors {
    .box-#{$text-color} {
        background-color:$item;
    }
}

$red : #ff0000;

.c {
    background-color:lighten($red, 20%);
}
.d {
    background-color: $red;
}
 
.e {
    background-color: darken($red, 20%)
}
.f {
    background-color: darken($red, 30%);
    color:#fff;
}

/*
.g {
    background-color: color.scale($red, $blackness:30%);
    color:#fff;
}
*/
.h {
    background-color: scale-color($red,$blackness:30%);
    color:#fff;
}

.i{
    background-color: scale-color($red, $lightness:20%);
}


$sizes : 10px, 20px, 30px;
$text-colors : (
    primary : #d7116d,
    secondary : #33ff00,
    third : #9696f0
);

$red:#ff0000;



@mixin setGradient ($color, $count:10, $n:6 ) {
    @for $i from 1 through $count {
        li:nth-child(#{$i}) {  
            // background-color:scale-color($color, $blackness: ($i * 10) * 1% );
            background-color:adjust-hue($color, ($i * 10) * 1deg );
            @if($i >= $n) {
                color:scale-color($color, $blackness: ($i * 10) * 1%);
            }
        }
    }
}

$primary : (
    a : red,
    b:blue,
    c:green
);



$colors : #ff0000, #00ff00, #0000ff, rgb(233, 18, 204), rgb(219, 247, 4);

@mixin setFlex ($width, $height, $font:null){
    width: $width;
    height: $height;
    display: flex;
    color: $font;
    
    li {
        flex-grow: 1;

    }
}

.colorList {

    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            $color:nth($colors, $i);
            @include setGradient($color,$n:1);
        }
    }


    
    @include setFlex(700px, 50px );

//     &:nth-of-type(1) {
//         $color:nth($colors, 1);
//         @include setGradient($color);
//     }
//     &:nth-of-type(2) {
//         $color:nth($colors, 2);
//         @include setGradient($color);
//     }
//     &:nth-of-type(3) {
//         $color:nth($colors, 3);
//         @include setGradient($color);

        
//     }
}



.colorList:nth-of-type(3) li:first-child { 
    color:map-get($primary, a);
}
.listRed {
    @include setGradient($red)
}
 
@mixin setFont( $size, $weight, $family:null) {
    font-family:$family,sans-serif;
    font-size:$size;
    font-weight:$weight;

    @content;
}

.i {
    @include setFont('Arial black', 40px, 900) {
        font-style:italic;
    };
}

.h {
    @include setFont(30px, 100);
}

@mixin media($width) {
    @media all and (max-width:$width) {
        @content;
    }
}

@include media(480px) {
    header {
        width:50%;
    }
}

.listBlue {
    @include setGradient(blue, $n:1);
}



// .listRed {

//     .list_a {
//         background-color:nth($colors, 1)
//     }

//     .list_b{
//         background-color:scale-color($red, $blackness:10%);
//     }

//     .list_c{
//         background-color:scale-color($red, $blackness:20%);
//     }

//     .list_d{
//         background-color:scale-color($red, $blackness:30%);
//     }

//     .list_e{
//         background-color:scale-color($red, $blackness:40%);
//     }

//     .list_f{
//         background-color:scale-color($red, $blackness:50%);
//     }

//     .list_g{
//         background-color:scale-color($red, $blackness:60%);
//     }

//     .list_h{
//         background-color:scale-color($red, $blackness:70%);
//     }

//     .list_i{
//         background-color:scale-color($red, $blackness:80%);
//     }

//     .list_j{
//         background-color:scale-color($red, $blackness:90%);
//         color:#fff;
//     }
// }