.page {
  width: 300px;
}
.b {
  color: #ff1234;
  width: 150px;
}

.header strong, h1 {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

caption {
  font-size: 20px;
  font-weight: 900;
  color: #333;
}

.page-header {
  height: 20px;
}

.list, .menu-list {
  color: red;
  font-size: 14px;
}
.list li, .menu-list li {
  margin: 10px 0;
}
.list li:hover, .menu-list li:hover {
  background-color: #1a1a00;
}

.box2, .box3, .box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.box3 {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.box2 {
  background-color: red;
}

.menu-list {
  background-color: rgb(225, 88, 111);
}

@media all and (max-width: 300px) {
  /*
   h1 {
       @extend %title-m;
   }
   */
  h1, .header strong {
    font-size: 50px;
  }
}
.a {
  background-color: #0000ff;
}

.b {
  background-color: #d7116d;
}

.icon-20px {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.icon-50px {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.icon-100px {
  width: 100px;
  height: 100px;
  font-size: 100px;
}

.box-primary {
  background-color: #d7116d;
}

.box-secondary {
  background-color: #33ff00;
}

.box-third {
  background-color: #1e1ea4;
}

.c {
  background-color: #ff6666;
}

.d {
  background-color: #ff0000;
}

.e {
  background-color: #990000;
}

.f {
  background-color: #660000;
  color: #fff;
}

/*
.g {
    background-color: color.scale($red, $blackness:30%);
    color:#fff;
}
*/
.h {
  background-color: #b30000;
  color: #fff;
}

.i {
  background-color: #ff3333;
}

.colorList {
  width: 700px;
  height: 50px;
  display: flex;
}
.colorList:nth-of-type(1) li:nth-child(1) {
  background-color: #ff2b00;
  color: #e60000;
}
.colorList:nth-of-type(1) li:nth-child(2) {
  background-color: #ff5500;
  color: #cc0000;
}
.colorList:nth-of-type(1) li:nth-child(3) {
  background-color: #ff8000;
  color: #b30000;
}
.colorList:nth-of-type(1) li:nth-child(4) {
  background-color: #ffaa00;
  color: #990000;
}
.colorList:nth-of-type(1) li:nth-child(5) {
  background-color: #ffd500;
  color: maroon;
}
.colorList:nth-of-type(1) li:nth-child(6) {
  background-color: yellow;
  color: #660000;
}
.colorList:nth-of-type(1) li:nth-child(7) {
  background-color: #d5ff00;
  color: #4d0000;
}
.colorList:nth-of-type(1) li:nth-child(8) {
  background-color: #aaff00;
  color: #330000;
}
.colorList:nth-of-type(1) li:nth-child(9) {
  background-color: #80ff00;
  color: #1a0000;
}
.colorList:nth-of-type(1) li:nth-child(10) {
  background-color: #55ff00;
  color: black;
}
.colorList:nth-of-type(2) li:nth-child(1) {
  background-color: #00ff2b;
  color: #00e600;
}
.colorList:nth-of-type(2) li:nth-child(2) {
  background-color: #00ff55;
  color: #00cc00;
}
.colorList:nth-of-type(2) li:nth-child(3) {
  background-color: #00ff80;
  color: #00b300;
}
.colorList:nth-of-type(2) li:nth-child(4) {
  background-color: #00ffaa;
  color: #009900;
}
.colorList:nth-of-type(2) li:nth-child(5) {
  background-color: #00ffd5;
  color: green;
}
.colorList:nth-of-type(2) li:nth-child(6) {
  background-color: aqua;
  color: #006600;
}
.colorList:nth-of-type(2) li:nth-child(7) {
  background-color: #00d5ff;
  color: #004d00;
}
.colorList:nth-of-type(2) li:nth-child(8) {
  background-color: #00aaff;
  color: #003300;
}
.colorList:nth-of-type(2) li:nth-child(9) {
  background-color: #0080ff;
  color: #001a00;
}
.colorList:nth-of-type(2) li:nth-child(10) {
  background-color: #0055ff;
  color: black;
}
.colorList:nth-of-type(3) li:nth-child(1) {
  background-color: #2b00ff;
  color: #0000e6;
}
.colorList:nth-of-type(3) li:nth-child(2) {
  background-color: #5500ff;
  color: #0000cc;
}
.colorList:nth-of-type(3) li:nth-child(3) {
  background-color: #8000ff;
  color: #0000b3;
}
.colorList:nth-of-type(3) li:nth-child(4) {
  background-color: #aa00ff;
  color: #000099;
}
.colorList:nth-of-type(3) li:nth-child(5) {
  background-color: #d500ff;
  color: navy;
}
.colorList:nth-of-type(3) li:nth-child(6) {
  background-color: fuchsia;
  color: #000066;
}
.colorList:nth-of-type(3) li:nth-child(7) {
  background-color: #ff00d5;
  color: #00004d;
}
.colorList:nth-of-type(3) li:nth-child(8) {
  background-color: #ff00aa;
  color: #000033;
}
.colorList:nth-of-type(3) li:nth-child(9) {
  background-color: #ff0080;
  color: #00001a;
}
.colorList:nth-of-type(3) li:nth-child(10) {
  background-color: #ff0055;
  color: black;
}
.colorList:nth-of-type(4) li:nth-child(1) {
  background-color: #e912a8;
  color: #d212b8;
}
.colorList:nth-of-type(4) li:nth-child(2) {
  background-color: #e91284;
  color: #ba12a4;
}
.colorList:nth-of-type(4) li:nth-child(3) {
  background-color: #e91261;
  color: #a31290;
}
.colorList:nth-of-type(4) li:nth-child(4) {
  background-color: #e9123d;
  color: #8c127b;
}
.colorList:nth-of-type(4) li:nth-child(5) {
  background-color: #e91219;
  color: #751267;
}
.colorList:nth-of-type(4) li:nth-child(6) {
  background-color: #e92f12;
  color: #5d1253;
}
.colorList:nth-of-type(4) li:nth-child(7) {
  background-color: #e95312;
  color: #46123f;
}
.colorList:nth-of-type(4) li:nth-child(8) {
  background-color: #e97712;
  color: #2f122b;
}
.colorList:nth-of-type(4) li:nth-child(9) {
  background-color: #e99b12;
  color: #171217;
}
.colorList:nth-of-type(4) li:nth-child(10) {
  background-color: #e9be12;
  color: #111111;
}
.colorList:nth-of-type(5) li:nth-child(1) {
  background-color: #b3f704;
  color: #c5de04;
}
.colorList:nth-of-type(5) li:nth-child(2) {
  background-color: #8af704;
  color: #afc604;
}
.colorList:nth-of-type(5) li:nth-child(3) {
  background-color: #62f704;
  color: #99ad04;
}
.colorList:nth-of-type(5) li:nth-child(4) {
  background-color: #39f704;
  color: #849404;
}
.colorList:nth-of-type(5) li:nth-child(5) {
  background-color: #11f704;
  color: #6e7c04;
}
.colorList:nth-of-type(5) li:nth-child(6) {
  background-color: #04f720;
  color: #586304;
}
.colorList:nth-of-type(5) li:nth-child(7) {
  background-color: #04f749;
  color: #424a04;
}
.colorList:nth-of-type(5) li:nth-child(8) {
  background-color: #04f771;
  color: #2c3104;
}
.colorList:nth-of-type(5) li:nth-child(9) {
  background-color: #04f79a;
  color: #161904;
}
.colorList:nth-of-type(5) li:nth-child(10) {
  background-color: #04f7c2;
  color: #040404;
}
.colorList li {
  flex-grow: 1;
}

.colorList:nth-of-type(3) li:first-child {
  color: red;
}

.listRed li:nth-child(1) {
  background-color: #ff2b00;
}
.listRed li:nth-child(2) {
  background-color: #ff5500;
}
.listRed li:nth-child(3) {
  background-color: #ff8000;
}
.listRed li:nth-child(4) {
  background-color: #ffaa00;
}
.listRed li:nth-child(5) {
  background-color: #ffd500;
}
.listRed li:nth-child(6) {
  background-color: yellow;
  color: #660000;
}
.listRed li:nth-child(7) {
  background-color: #d5ff00;
  color: #4d0000;
}
.listRed li:nth-child(8) {
  background-color: #aaff00;
  color: #330000;
}
.listRed li:nth-child(9) {
  background-color: #80ff00;
  color: #1a0000;
}
.listRed li:nth-child(10) {
  background-color: #55ff00;
  color: black;
}

.i {
  font-family: 900, sans-serif;
  font-size: "Arial black";
  font-weight: 40px;
  font-style: italic;
}

.h {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}

@media all and (max-width: 480px) {
  header {
    width: 50%;
  }
}
.listBlue li:nth-child(1) {
  background-color: #2b00ff;
  color: #0000e6;
}
.listBlue li:nth-child(2) {
  background-color: #5500ff;
  color: #0000cc;
}
.listBlue li:nth-child(3) {
  background-color: #8000ff;
  color: #0000b3;
}
.listBlue li:nth-child(4) {
  background-color: #aa00ff;
  color: #000099;
}
.listBlue li:nth-child(5) {
  background-color: #d500ff;
  color: navy;
}
.listBlue li:nth-child(6) {
  background-color: fuchsia;
  color: #000066;
}
.listBlue li:nth-child(7) {
  background-color: #ff00d5;
  color: #00004d;
}
.listBlue li:nth-child(8) {
  background-color: #ff00aa;
  color: #000033;
}
.listBlue li:nth-child(9) {
  background-color: #ff0080;
  color: #00001a;
}
.listBlue li:nth-child(10) {
  background-color: #ff0055;
  color: black;
}

/*# sourceMappingURL=styla.css.map */
